In [1]:
import pandas as pd

C:\Users\LJaig\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\LJaig\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
dtypes_dict= {'CPSC_Case_Number':'int', 'Treatment_Date':'str', 'Age':'int', 'Sex':'int', 'Race':'int', 'Other_Race':'str', 'Hispanic':'str', 'Body_Part':'int','Diagnosis':'int','Other_Diagnosis':'str','Disposition':'int','Location':'int','Fire_Involvement':'int','Product_1':'int','Product_2':'int','Narrative':'str','Stratum':'str','PSU':'int','Weight':'float64'}
columns = ['CPSC_Case_Number', 'Treatment_Date', 'Age','Sex','Race','Other_Race','Hispanic','Body_Part','Diagnosis','Other_Diagnosis','Disposition']

In [31]:
patients_df = pd.read_csv('NEISS.txt', sep='\t', encoding='latin-1', index_col='CPSC_Case_Number', usecols=columns)

C:\Users\LJaig\AppData\Local\Temp\ipykernel_6904\231416706.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  patients_df = pd.read_csv('NEISS.txt', sep='\t', encoding='latin-1', index_col='CPSC_Case_Number', usecols=columns)

In [32]:
patients_df.head()

,Treatment_Date,Age,Sex,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,Disposition
CPSC_Case_Number,,,,,,,,,,
160101845,01/01/2016,92,1.0,0.0,NaN,NaN,79.0,57.0,NaN,4.0
160101847,01/01/2016,90,1.0,0.0,NaN,NaN,79.0,57.0,NaN,4.0
160101848,01/01/2016,71,2.0,0.0,NaN,NaN,79.0,57.0,NaN,4.0
160101852,01/01/2016,71,2.0,0.0,NaN,NaN,31.0,64.0,NaN,1.0
160101857,01/01/2016,57,1.0,0.0,NaN,NaN,83.0,59.0,NaN,1.0

In [80]:
bins = [0,1,10,20,50,80,120,223]
labels = ['not recorded','child','adolescent', 'adult', 'elderly', 'very old', 'infant']
patients_df['age_bin'] = pd.cut(patients_df['Age'], bins, labels=labels, include_lowest=True)

In [81]:
passed_away = patients_df.loc[patients_df['Disposition'] == 8]

In [82]:
passed_away.head()

,Treatment_Date,Age,Sex,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,Disposition,age_bin
CPSC_Case_Number,,,,,,,,,,,
160122220,01/08/2016,84,1.0,0.0,NaN,NaN,85.0,71.0,CARDIAC ARREST,8.0,very old
160127991,01/09/2016,41,2.0,1.0,NaN,NaN,85.0,71.0,CARDIOPULMONARY ARRE,8.0,adult
160135106,01/17/2016,23,2.0,3.0,HISPANIC,NaN,75.0,52.0,NaN,8.0,adult
160135933,01/10/2016,58,2.0,1.0,NaN,NaN,85.0,71.0,SUDDEN DEATH,8.0,elderly
160146198,01/23/2016,3,1.0,0.0,NaN,NaN,85.0,69.0,NaN,8.0,child

In [83]:
diagnoses = pd.read_excel("Data-Dictionary.xlsx")

C:\Users\LJaig\AppData\Roaming\Python\Python39\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: Table2[#All].
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
C:\Users\LJaig\AppData\Roaming\Python\Python39\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: Table22[#All].
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

In [37]:
pip install openpyxl --upgrade

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\ljaig\appdata\roaming\python\python39\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
diagnoses.loc[(diagnoses['Excel/Tab Variable'] == 'Diagnosis') | (diagnoses['Excel/Tab Variable'] == 'Other_Diagnosis')]

,Excel/Tab Variable,SAS Variable,Description/Code book
50,Diagnosis,Diag,Injury Diagnosis
81,Other_Diagnosis,Diagoth,Description of Other Diagnosis (Used with Diag...

In [39]:
diagnoses_list = diagnoses.iloc[51:81,2].tolist()

In [40]:
diagnoses_list

['41 - Ingestion ',
 '42 - Aspiration ',
 '46 - Burns, Electrical ',
 '47 - Burns, Not Specified',
 '48 - Burns, Scald ',
 '49 - Burns, Chemical ',
 '50 - Amputaion ',
 '51 - Burns, Thermal ',
 '52 - Concussions',
 '53 - Contusions, Abrasions',
 '54 - Crushing',
 '55 - Dislocation',
 '56 - Foreign Body',
 '57 - Fracture',
 '58 - Hematoma',
 '59 - Laceration',
 '60 - Dental Injury',
 '61 - Nerve Damage',
 '62 - Internal Organ Injury',
 '63 - Puncture',
 '64 - Strain, Sprain',
 '65 - Anoxia',
 '66 - Hemorrhage',
 '67 - Electric Shock',
 '68 - Poisoning',
 '69 - Submersion',
 '71 - Other/Not Stated',
 '72 - Avulsion',
 '73 - Burns, Radiation',
 '74 - Dermatitis, Conjunctivitis']

In [41]:
diagnoses_dict = {}

for x in diagnoses_list:
    diagnosis = x.split('-')
    diagnoses_dict[int(diagnosis[0].strip())] = diagnosis[1].strip()

In [42]:
diagnoses_dict

{41: 'Ingestion',
 42: 'Aspiration',
 46: 'Burns, Electrical',
 47: 'Burns, Not Specified',
 48: 'Burns, Scald',
 49: 'Burns, Chemical',
 50: 'Amputaion',
 51: 'Burns, Thermal',
 52: 'Concussions',
 53: 'Contusions, Abrasions',
 54: 'Crushing',
 55: 'Dislocation',
 56: 'Foreign Body',
 57: 'Fracture',
 58: 'Hematoma',
 59: 'Laceration',
 60: 'Dental Injury',
 61: 'Nerve Damage',
 62: 'Internal Organ Injury',
 63: 'Puncture',
 64: 'Strain, Sprain',
 65: 'Anoxia',
 66: 'Hemorrhage',
 67: 'Electric Shock',
 68: 'Poisoning',
 69: 'Submersion',
 71: 'Other/Not Stated',
 72: 'Avulsion',
 73: 'Burns, Radiation',
 74: 'Dermatitis, Conjunctivitis'}

In [43]:
passed_away['Diagnosis'].value_counts()

Diagnosis
71.0    609
62.0    210
69.0     91
65.0     65
57.0     65
59.0     33
51.0     31
53.0     22
68.0     15
67.0      5
58.0      5
66.0      4
42.0      4
63.0      4
54.0      2
52.0      1
48.0      1
72.0      1
Name: count, dtype: int64

In [16]:
male_df = passed_away[passed_away["Sex"]==1.0]
male_counts = male_df.shape[0]
male_counts

824

In [17]:
female_df = passed_away[passed_away["Sex"]==2.0]
female_counts = female_df.shape[0]
female_counts

344

In [18]:
gr = male_df.groupby("Diagnosis").size().sort_values(ascending = False)
gr.index = gr.index.map(diagnoses_dict)
gr

Diagnosis
Other/Not Stated         446
Internal Organ Injury    140
Submersion                69
Fracture                  40
Anoxia                    39
Laceration                23
Burns, Thermal            21
Contusions, Abrasions     14
Poisoning                 13
Electric Shock             5
Aspiration                 4
Puncture                   4
Hemorrhage                 2
Burns, Scald               1
Hematoma                   1
Crushing                   1
Avulsion                   1
dtype: int64

In [19]:
gr2 = female_df.groupby("Diagnosis").size().sort_values(ascending = False)
gr2.index = gr2.index.map(diagnoses_dict)
gr2

Diagnosis
Other/Not Stated         163
Internal Organ Injury     70
Anoxia                    26
Fracture                  25
Submersion                22
Burns, Thermal            10
Laceration                10
Contusions, Abrasions      8
Hematoma                   4
Hemorrhage                 2
Poisoning                  2
Concussions                1
Crushing                   1
dtype: int64

Race analysis on dataset by Rui
What are the biggest causes of death for different age groups, genders, and races
1. Set up Python virtual environment(Already done in outer directory)
   1. shift + cmd + p, virtual environment
   2. source .venv/bin/activate
   3. pip install pandas
2. Read the whole dataset, filter all death records
3. Find the column I need: Race
4. Get the subset of dataset based on each race

In [20]:
passed_away["Race"].value_counts()      # Count the occurance by column "Race"

Race
0.0    540
1.0    408
2.0    171
3.0     28
4.0     17
5.0      3
6.0      1
Name: count, dtype: int64

In [21]:
white_df = passed_away[passed_away["Race"]==1.0]
white_counts = white_df.shape[0]

black_df = passed_away[passed_away["Race"]==2.0]
black_counts = black_df.shape[0]

asian_df = passed_away[passed_away["Race"]==4.0]
asian_counts = asian_df.shape[0]

native_df = passed_away[passed_away["Race"]==5.0]
native_counts = native_df.shape[0]

islander_df = passed_away[passed_away["Race"]==6.0]
islander_counts = islander_df.shape[0]

In [22]:
# White
white_diagnosis_count = white_df.groupby("Diagnosis").size().sort_values(ascending = False)
white_diagnosis_count.index = white_diagnosis_count.index.map(diagnoses_dict)
white_diagnosis_count.head()

Diagnosis
Other/Not Stated         193
Internal Organ Injury     78
Submersion                28
Fracture                  25
Anoxia                    22
dtype: int64

In [23]:
# Black
black_diagnosis_count = black_df.groupby("Diagnosis").size().sort_values(ascending = False)
black_diagnosis_count.index = black_diagnosis_count.index.map(diagnoses_dict)
black_diagnosis_count.head()

Diagnosis
Other/Not Stated         92
Internal Organ Injury    22
Anoxia                   18
Submersion               15
Burns, Thermal            8
dtype: int64

In [24]:
# Asian
asian_diagnosis_count = asian_df.groupby("Diagnosis").size().sort_values(ascending = False)
asian_diagnosis_count.index = asian_diagnosis_count.index.map(diagnoses_dict)
asian_diagnosis_count.head()

Diagnosis
Other/Not Stated         8
Internal Organ Injury    4
Submersion               3
Crushing                 1
Poisoning                1
dtype: int64

In [25]:
# Native
native_diagnosis_count = native_df.groupby("Diagnosis").size().sort_values(ascending = False)
native_diagnosis_count.index = native_diagnosis_count.index.map(diagnoses_dict)
native_diagnosis_count.head()

Diagnosis
Fracture                 1
Internal Organ Injury    1
Other/Not Stated         1
dtype: int64

In [26]:
# Ialand
islander_diagnosis_count = islander_df.groupby("Diagnosis").size().sort_values(ascending = False)
islander_diagnosis_count.index = islander_diagnosis_count.index.map(diagnoses_dict)
islander_diagnosis_count.head()

Diagnosis
Contusions, Abrasions    1
dtype: int64

Age analysis - Labiba

In [94]:
passed_away["age_bin"].value_counts()

age_bin
elderly         509
adult           194
very old        192
infant          115
child            90
adolescent       53
not recorded     15
Name: count, dtype: int64

In [95]:
age_dfs = [passed_away[passed_away['age_bin'] == x] for x in labels]

In [96]:
for i in range(len(age_dfs)):
    diagnosis_count = age_dfs[i].groupby("Diagnosis").size().sort_values(ascending = False)
    diagnosis_count.index = diagnosis_count.index.map(diagnoses_dict)
    print("Age group: %s" %labels[i])
    print(diagnosis_count)
    print("\n")

Age group: not recorded
Diagnosis
Other/Not Stated    11
Anoxia               3
Avulsion             1
dtype: int64


Age group: child
Diagnosis
Submersion               35
Other/Not Stated         21
Anoxia                   15
Internal Organ Injury    10
Burns, Thermal            2
Hemorrhage                2
Aspiration                1
Fracture                  1
Laceration                1
Puncture                  1
Electric Shock            1
dtype: int64


Age group: adolescent
Diagnosis
Other/Not Stated         18
Internal Organ Injury    15
Submersion               11
Anoxia                    4
Fracture                  3
Poisoning                 2
dtype: int64


Age group: adult
Diagnosis
Other/Not Stated         97
Internal Organ Injury    26
Fracture                 13
Anoxia                   11
Poisoning                10
Submersion                9
Laceration                7
Burns, Thermal            6
Contusions, Abrasions     5
Puncture                  3
Electric Shock            3
Crushing                  2
Concussions               1
Hemorrhage                1
dtype: int64


Age group: elderly
Diagnosis
Other/Not Stated         304
Internal Organ Injury     94
Fracture                  24
Burns, Thermal            22
Submersion                19
Laceration                16
Anoxia                    12
Contusions, Abrasions     11
Hematoma                   3
Poisoning                  2
Hemorrhage                 1
Electric Shock             1
dtype: int64


Age group: very old
Diagnosis
Other/Not Stated         85
Internal Organ Injury    61
Fracture                 23
Laceration                8
Contusions, Abrasions     5
Submersion                5
Hematoma                  2
Aspiration                1
Burns, Thermal            1
Anoxia                    1
dtype: int64


Age group: infant
Diagnosis
Other/Not Stated         73
Anoxia                   19
Submersion               12
Internal Organ Injury     4
Aspiration                2
Burns, Scald              1
Contusions, Abrasions     1
Fracture                  1
Laceration                1
Poisoning                 1
dtype: int64